src/ai_model/venv/
src/ai_model/checkpoint.pt
dataset/raw/
dataset/*.zip
src/ai_model/explanation.jpg
src/backend/venv/
src/backend/explanations/
src/frontend/node_modules/
src/frontend/dist/
src/backend/__pycache__/
src/backend/history.db
